footer
  .container.text-center
    p.float-left © 2018 Team Phantom. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/johnkmj/aickathon_phantom') GitHub Project
      li.list-inline-item
        a(href='https://github.com/johnkmj/aickathon_phantom/issues') Issues
      li.list-inline-item
        a(href='/status') Server Status
