extends layout

block content
  h1 GrabWear
  p.lead We care, we share, we wear!
  hr
  .row
    .col-md-6
      h2 Our Vision
      p To create a solution in reducing textile waste through garment sharing.

  .row
    .col-md-6
      h2 How?
      p By facilitating a clothing donation, exchange, purchase and library through Fit, Fabric and Style.
    .col-md-6
      h2 What?
      p A fashion sharing platform that intelligently matches the needs and wants of users with the existing library of garments. A smart sorting and categorization upload system that automagically categorizes clothing based on colors, styles, and garments identified using Coqnitics in the image uploaded.
    .col-md-6
      h2 Who?
      p People in need and indeed (Donation to victims, orphanage, old folks home, low income families, homeless shelters, and also fast fashion users!)
    .col-md-6
      h2 Why?
      p Sustainability and accessibility. Economics, ecological, moral impacts in an engaging and informative way.
  .row
    .col-md-6
      h2 We're Powered By Coqnitics!
      p Utilizing the avant garde machine learning API system by coqnitics.com, we are truly smart!
  .row
    .col-md-6
      h2 Sign Up
      p Sign up now to make a difference today!
      p
        a.btn.btn-raised(href='/signup', role='button') Sign up here »
