extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h2
      i.fas.fa-upload.fa-sm
      | New Garment Upload

  h3 New Garment Upload Form
  .row
    .col-md-6
      p Upload new garments to our database!
      form(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          label.col-form-label.font-weight-bold File Input
          .col-md-6
            input(type='file' name='uploadImage')
        button.btn.btn-primary(type='submit') Submit
